.header
  position absolute
  top 0
  z-index 5
  width 100%
  color #fff
  background-color transparent
  border 0
  background url(../../img/banner_img_shadow@2x.png) no-repeat center top
  background-size 100% 50%
  &.active
    background #3c3c3b
    position fixed
  .icon-back
    width 65px
    padding-left 15px
    background transparent url(../../img/nav_icon_down@2x.png) no-repeat left 50px center
    background-size 12px 6px
    line-height 50px
    font-style normal
  .header-title
    padding-right 80px
    color #fff