body
	margin 0
	padding 0
	background-color #F5EEEA
.logo
	position absolute
	top 50%
	left 50%
	width 120px
	height 120px
	margin-top -60px
	margin-left -60px
	background url(../../img/content_img_logo@2x.gif) no-repeat center
	background-size 100%
.copy
	position absolute
	bottom 0
	width 100%
	color #657930
	text-align center
	line-height 50px