$orange=#ED692B
body
	background-color  #efefef
.tab_box
	height 30px
	padding 8px 0
	background-color #fff
.tab-bar
	display flex
	width 80%
	height 30px
	margin 0
	padding 0
	list-style none
	height 30px
	border-redius 5px
	border 1px solid #ff6666
	color $orange
	
	.tar-bar-cell
		flex 1
		line-height 30px
		text-align center
	
	&:after
		content ''
		position absolute
		top 0
		right 0
		display block
		width 1px
		height 30px
		background-color $orange
	&:last-child:after
		content '' 
		display none
	&.active
		background-color $orange
		color #fff
		
.demand_cells
	padding 15px
	
.demand_cell
	width 100%
	min-height 150px
	border-radius 5px
	box-shadow 0 0 1px 1px #e0e0e0
	background-color #fff
	.demand-title
		display flex
		height 50px
		padding-left 10px
		border-bottom 1px solid #cecece
		
		.d-t-name
			flex 1
		.d-t-tag
			display inline-block
			width 50px
			height 16px
			margin 7px 0
			padding 2px 0
			border-redius 5px
			font-style normal
			font-size .6rem
	.demand-info
		margin 0
		padding 10
		line-height 1.2em
	.demand-footer
		display flex
		height 30px
		line-height 30px
		
		.btn-detail
			width 100px
			height 30px
			border-redius 5px
			box-shadow 0 0 1px 1px #e0e0e0
			line-height 16px
			text-align center
			
		
		