* {
  outline: none;
}
body {
  background-color: #efefef;
}
.header {
  height: 35px;
  background-color: #fff;
  line-height: 35px;
}
.header .icon-back {
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 12px 18px;
}
.header .header_title {
  display: inline-block;
  width: 100%;
  color: #ed692b;
  font-weight: bold;
  text-align: center;
}
.form-list {
  margin-top: 15px;
  padding-right: 15px;
  background: #fff;
}
.form-list .form-cell {
  position: relative;
  display: flex;
  height: 40px;
  line-height: 40px;
}
.form-list .form-cell:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 10px;
  z-index: 5;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #efefef;
}
.form-list .form-cell-name {
  display: inline-block;
  width: 50px;
  padding-left: 40px;
  background: url("../../img/content_ID_icon@2x.png") no-repeat left 10px center;
  background-size: 25% 50%;
}
.form-list .form-cell-name.cell-code {
  width: 68px;
  background-size: 20px 50%;
}
.form-list .form-cell-name.cell-passwd {
  width: 68px;
  background: url("../../img/content_password_icon@2x.png") no-repeat left 10px center;
  background-size: 20px 50%;
}
.form-list .form-cell .form-cell-input {
  flex: 1;
  border: none;
}
.form-list .form-cell .form-cell-input .fci-input {
  height: 38px;
  margin: 0;
  padding: 0;
  outline: none;
}
.bt_box {
  display: flex;
  height: 40px;
  margin-top: 20px;
  padding: 0 15px;
}
.bt_box .btn_login {
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #c7c7c7;
  color: #fff;
  font-size: 1.1rem;
  line-height: 40px;
  disabled: true;
}
.bt_box .bt-reg {
  flex: 1;
  color: #ed692b;
  padding-left: 10px;
}
.bt_box .bt-passwd {
  flex: 1;
  padding-right: 10px;
  color: #7a7a7c;
  text-align: right;
}
