<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>选房网APP-公司</title>
	<link rel="stylesheet" href="../../public/css/me/expired_housing.css"/>
</head>
<body>
	<header class="header">
		<i class="icon-back"></i>
		<span class="header_title">过期房源</span>
	</header>
	<article class="demand_cells">
		<section class="demand_cell">
			<div class="demand-left"></div>
			<header class="demand-title"><span class="d-t-name">东方金融中心</span>
			<em class="text-show"></em>
			<p class="">浦东-八佰伴</p>
			</header>
		</section>
	</article>
</body>
</html>