<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>选房网APP-公司</title>
	<link rel="stylesheet" href="../public/css/make-sure.css"/>
</head>
<body>
	<div class="make_box">
		<p class="make_finish">注册完成，等待后天确认</p>
		<p class="make_sure">确认</p>
	</div>
	<script>
	var windwidth=window.outerWidth;
	var windheight=window.outerHeight;

	var makeBox=document.getElementsByClassName("make_box")[0];
	var makeBoxwidth =makeBox.offsetWidth;
	var makeBoxheight =makeBox.offsetHeight;
	makeBox.style.top = windheight/2-makeBoxheight/2+"px";
	makeBox.style.left = windwidth/2-makeBoxwidth/2+"px";
	</script>
</body>
</html>