<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>微米 - 杭州摆摆网络科技有限公司</title>
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<link rel="stylesheet" href="../../public/css/personal/personal_data.css"/>
	</head>
	<body>
		<header class="header">
			<i class="icon-back"></i>
			<span class="header_title">个人资料</span>
		</header>
		<article class="contect">
			<section class="items">
				<span class="Head_portrait">头像</span>
				<div class="icon-right"><img src="../public/img/content_list_icon_right@2x.png"></div>
			</section>
			<section class="items">
				<span class="Head_portrait">简介</span>
				<div class="icon-right"><img src="../public/img/content_list_icon_right@2x.png"></div>
				<input type="text" placeholder="您的简介">
			</section>
			<section class="items">
				<span class="Head_portrait">企业邮箱/公司总机</span>
				<div class="icon-right"><img src="../public/img/content_list_icon_right@2x.png"></div>
				<input type="text" placeholder="您的邮箱">
			</section>
			<section class="items">
				<span class="Head_portrait">联系人</span>
				<div class="icon-right"><img src="../public/img/content_list_icon_right@2x.png"></div>
				<input type="text" placeholder="联系人">
			</section>
			<section class="items">
				<span class="Head_portrait">联系方式</span>
				<div class="icon-right"><img src="../public/img/content_list_icon_right@2x.png"></div>
				<input type="text" placeholder="联系方式">
			</section>
			<section class="items">
				<span class="Head_portrait">微信号码</span>
				<div class="icon-right"><img src="../public/img/content_list_icon_right@2x.png"></div>
				<input type="text" placeholder="微信号码">
			</section>
			<section class="items">
				<span class="Head_portrait">联系方式</span>
				<div class="icon-right"><img src="../public/img/content_list_icon_right@2x.png"></div>
				<input type="text" placeholder="联系方式">
			</section>
			<div class="pics">
				<div class="pics_li">
					<div class="photo"></div>
					<div class="txt"><span>微信二维码</span></div>
				</div>
				<div class="pics_li">
					<div class="photo"></div>
					<div class="txt"><span>营业执照</span></div>
				</div>
				<div class="pics_li">
					<div class="photo"></div>
					<div class="txt"><span>租赁代理协议</span></div>
				</div>
			</div>
		</article>
		
	</body>
</html>
