<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>微米 - 南京鸿鸣网络科技有限公司</title>
	<meta name="keywords" content="南京鸿鸣网络科技有限公司"/>
	<meta name="description" content="南京鸿鸣网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
	<link rel="stylesheet" href="../public/css/make-sure.css"/>
</head>
<body>
	<div class="make_box">
		<p class="make_finish">注册完成，等待后天确认</p>
		<p class="make_sure">确认</p>
	</div>
	<script>
	var windwidth=window.outerWidth;
	var windheight=window.outerHeight;

	var makeBox=document.getElementsByClassName("make_box")[0];
	var makeBoxwidth =makeBox.offsetWidth;
	var makeBoxheight =makeBox.offsetHeight;
	makeBox.style.top = windheight/2-makeBoxheight/2+"px";
	makeBox.style.left = windwidth/2-makeBoxwidth/2+"px";
	</script>
</body>
</html>