body {
  background-color: #efefef;
}
.tab_box {
  height: 30px;
  padding: 8px 0;
  background-color: #fff;
}
.tab-bar {
  display: flex;
  width: 80%;
  height: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 30px;
  border-redius: 5px;
  border: 1px solid #f66;
  color: #ed692b;
}
.tab-bar .tar-bar-cell {
  flex: 1;
  line-height: 30px;
  text-align: center;
}
.tab-bar:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 30px;
  background-color: #ed692b;
}
.tab-bar:last-child:after {
  content: '';
  display: none;
}
.tab-bar.active {
  background-color: #ed692b;
  color: #fff;
}
.demand_cells {
  padding: 15px;
}
.demand_cell {
  width: 100%;
  min-height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #e0e0e0;
  background-color: #fff;
}
.demand_cell .demand-title {
  display: flex;
  height: 50px;
  padding-left: 10px;
  border-bottom: 1px solid #cecece;
}
.demand_cell .demand-title .d-t-name {
  flex: 1;
}
.demand_cell .demand-title .d-t-tag {
  display: inline-block;
  width: 50px;
  height: 16px;
  margin: 7px 0;
  padding: 2px 0;
  border-redius: 5px;
  font-style: normal;
  font-size: 0.6rem;
}
.demand_cell .demand-info {
  margin: 0;
  padding: 10;
  line-height: 1.2em;
}
.demand_cell .demand-footer {
  display: flex;
  height: 30px;
  line-height: 30px;
}
.demand_cell .demand-footer .btn-detail {
  width: 100px;
  height: 30px;
  border-redius: 5px;
  box-shadow: 0 0 1px 1px #e0e0e0;
  line-height: 16px;
  text-align: center;
}
