$orange=#ED692B

body
	background-color #efefef
	font-size 14px

.header
	height 35px
	line-height 35px
	background-color #fff



	.icon-back
		position absolute
		top 2
		left 2
		display inline-block
		width 20px
		height 36px
		background url(../../img/nav_back_icon@2x.png) no-repeat center
		background-size 10px 16px

	.header_title
		width 100%
		display inline-block
		font-weight bold
		letter-spacing 2px
		color $orange
		text-align center

	.header_handing
		position absolute
		top 7px
		right 12px
		display inline-block


	//表单验证
.form-list
	margin-top 15px
	width 100%
	height 80px

	.form-cell
		position relative
		height 50px
		line-height 50px
		background #ffffff

		&:after
			content ""
			position absolute
			bottom -1px
			left 10px
			z-index 5
			display block
			height 1px
			width 100%
			background-color #efefef
		&-name
			display inline-block
			width 50px
			padding-left 40px
			background url("../../img/content_ID_icon@2x.png") no-repeat left 10px center
			background-size 25%
			&.cell-code
				width 68px
				background-size 18%
			&.cell-ident
				width 70px
				background url("../../img/content_verify_icon@2x.png") no-repeat left 10px center
				background-size 17px 35%
			&.cell-passwd
				width 68px
				background url("../../img/content_password_icon@2x.png") no-repeat left 10px center
				background-size 17px 35%
			&.cell-identity
				width 70px
				background url("../../img/content_position_icon@2x.png") no-repeat left 10px center
				background-size 17px 35%

		.form-cell-button
			position absolute
			top 13px
			right 20px
			width 80px
			height 25px
			background-color $orange
			border none
			color #fff
			border-radius 3px
			font-size 10px
		.icon-down
			position absolute
			margin-left 45px
			margin-top 10px
			transform rotate(-90deg)
			display inline-block
			width 20px
			height 36px
			background url(../../img/nav_back_icon@2x.png) no-repeat center
			background-size 10px 16px
		
		.form-cell-input
			height 38px
			border none
			margin 0
			padding 0
			outline none

//注册按钮
.bt_box
	height 40px
	padding 0 15px
	margin-top 210px

	.btn_login
		display block
		width 100%
		height 40px
		border none
		border-radius 5px
		background-color #c7c7c7
		color #fff
		font-size 1.1rem
		line-height 10px
	.btn_foot
		color #646464
		text-align center
		a
			color #EA6229
			
.identity_selection
	width 70px
	height 155px
	background-color #A3A3A3
	position absolute
	border-radius 5px
	color #fff
	text-align center
	.identity_s
		position relative
		top -2px
		&:after
			content ""
			position absolute
			bottom -7px
			left -1px
			z-index 5
			display block
			height 1px
			width 100%
			background-color #fff
			
		

