<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>微米 - 杭州摆摆网络科技有限公司</title>
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<link rel="stylesheet" href="../../public/css/login/register.css"/>
	</head>
	<body>
		<header class="header">
			<i class="icon-back"></i>
			<span class="header_title">注册</span>
			<span class="header_handing">登录</span>
		</header>
		<article class="form-list">
			<section class="form-cell">
				<span class="form-cell-name cell-code">账号：</span>
				<input class="form-cell-input" type="text" placeholder="请输入您的手机号码"/>
			</section>
			<section class="form-cell">
				<span class="form-cell-name cell-ident">验证码：</span>
				<input class="form-cell-input" type="text" placeholder="请输入验证码"/>
				<input type="button" value="发送验证码" id="input"/>
			</section>
			<section class="form-cell">
				<span class="form-cell-name cell-passwd">密码：</span>
				<input class="form-cell-input" type="password" placeholder="请输入新的登录密码"/>
			</section>
			<section class="form-cell">
				<span class="form-cell-name cell-passwd">密码：</span>
				<input class="form-cell-input" type="password" placeholder="请输入新的登录密码"/>
			</section>
			<section class="form-cell">
				<span class="form-cell-name cell-identity">身份：</span>
				<input class="form-cell-input" type="password" placeholder="经纪人"/>
				<div class="icon-down" onclick="onClick()"></div>
			</section>
		</article>

		<div class="bt_box">
			<button class="btn_login">注册</button>
			<p class="btn_foot">注册即代表同意<a href="#">《活力矩阵用户协议》</a></p>
		</div>
		<div class="identity_selection">
			<p class="identity_s">经纪人</p>
			<p class="identity_s">小业主</p>
			<p class="identity_s">运营商</p>
			<p class="identity_s" id="agent">代理商</p>
			<p class="identity_s">开发商</p>
		</div>
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
		<script src="../../public/libs/zepto/touch.js"></script>
		<script src="../../public/js/login/register.js"></script>
	</body>
</html>
