* {
  outline: none;
}
body {
  background-color: #efefef;
}
.header {
  height: 35px;
  background-color: #fff;
  line-height: 35px;
}
.header .icon-back {
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 12px 18px;
}
.header .header_title {
  display: inline-block;
  width: 100%;
  color: #323232;
  font-weight: bold;
  text-align: center;
}
.demand_cells {
  padding: 10px;
}
.demand_cells .demand_cell {
  width: 100%;
  min-height: 90px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #e0e0e0;
  line-height: 30px;
  background-color: #fff;
  margin-bottom: 10px;
  display: flex;
  padding: 10px;
  margin-left: -10px;
}
.demand_cells .demand_cell .demand-left {
  width: 128px;
  height: 90px;
  background: url("../../img/content_img_list@2x.png") no-repeat center;
  background-size: 150px 85px;
}
.demand_cells .demand_cell .demand-title {
  padding-left: 10px;
}
.demand_cells .demand_cell .demand-title .d-t-name {
  font-weight: bold;
}
.demand_cells .demand_cell .demand-title .text-show {
  font-size: 12px;
  color: #646464;
  margin-left: 55px;
  font-style: normal;
}
.demand_cells .demand_cell .demand-title .text-pu {
  color: #646464;
  font-size: 14px;
  margin: 0;
  margin-top: -10px;
  padding: 0;
}
.demand_cells .demand_cell .demand-title .text-business {
  color: #ed692b;
  border-radius: 5px;
  border: 1px solid #ed692b;
  width: 60px;
  height: 18px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  margin: -5px 0;
  padding: 0;
}
.demand_cells .demand_cell .demand-title .text-seven {
  color: #646464;
  font-size: 12px;
}
.demand_cells .demand_cell .demand-title .seven-yuan {
  color: #ed692b;
  font-size: 14px;
  font-style: normal;
}
.demand_cells .demand_cell .demand-title .text-brokerage {
  color: #646464;
  font-style: normal;
  margin-left: 24px;
}
