* {
  outline: none;
}
body {
  background-color: #efefef;
}
.header {
  height: 35px;
  background-color: #fff;
  line-height: 35px;
}
.header .icon-back {
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 12px 18px;
}
.header .header_title {
  display: inline-block;
  width: 100%;
  color: #323232;
  font-weight: bold;
  text-align: center;
}
.contect,
margin-top 10px,
width 100%,
min-height 200px,
background-color #fff,
.items {
  position: relative;
  height: 40px;
  background-color: #fff;
}
.contect:after,
margin-top 10px:after,
width 100%:after,
min-height 200px:after,
background-color #fff:after,
.items:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 5px;
  z-index: 5;
  display: block;
  height: 1px;
  width: 95%;
  background-color: #efefef;
}
