<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>选房网APP-公司</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/msg/news_demand.css"/>
	<link rel="stylesheet" href="../../public/css/msg/notice-demand.css"/>
	<link rel="stylesheet" href="../../public/css/msg/msg_demand.css"/>
	<script type="text/javascript" src="../../public/js/jquery-1.12.4.js"></script>
	<!--<script type="text/javascript" src="../../public/libs/neat/neat.min.js"></script>-->
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script type="text/javascript" src="../../public/libs/zepto/touch.js"></script>
	<script type="text/javascript" src="../../public/js/msg/news_demand.js"></script>
</head>
<body>
	<header class="tab_box">
		<ul class="tab-bar">
			<li class="tab-bar-cell active" id="dope">消息</li>
			<li class="tab-bar-cell" id="inform">通知</li>
			<li class="tab-bar-cell" id="need">需求</li>
		</ul>
	</header>
	<!--消息-->
	<div style="display: block;width:0;height:0;overflow: hidden" id="demand_one">
		<article class="demand_cells" >
			<section class="demand_cell">
				<header class="demand-title"><span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦！</span></header>
				<p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
				<footer class="demand-footer"><em class="text-time">08/04/13:06</em></footer>
			</section>
			<section class="demand_cell">
				<header class="demand-title"><span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦！</span></header>
				<p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
				<footer class="demand-footer"><em class="text-time">08/04/13:06</em></footer>
			</section>
			<section class="demand_cell">
				<header class="demand-title"><span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦！</span></header>
				<p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
				<footer class="demand-footer"><em class="text-time">08/04/13:06</em></footer>
			</section>
			<section class="demand_cell">
				<header class="demand-title"><span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦！</span></header>
				<p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
				<footer class="demand-footer"><em class="text-time">08/04/13:06</em></footer>
			</section>
			<section class="demand_cell">
				<header class="demand-title"><span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦！</span></header>
				<p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
				<footer class="demand-footer"><em class="text-time">08/04/13:06</em></footer>
			</section>
		</article>
		<div class="demand-foot" >
			<div class="demand-home-page"><span class="page-one">首页</span></div>
			<div class="demand-order"><span class="page-one">预约</span></div>
			<div class="demand-add"></div>
			<div class="demand-infomation"><span class="page-one infomation">信息</span></div>
			<div class="demand-me"><span class="page-one me">我</span></div>
		</div>
	</div>
<!--通知-->
	<div style="display: block;width:0;height:0;overflow: hidden" id="demand_two">
		<article class="demand_cells" >
			<section class="demand_cell">
				<header class="demand-title"><span class="d-t-name">房源维护提示</span><em class="text-time">08/04/13:06</em></header>
				<p class="demand-info">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新状态，5天后该房源将自动下架。</p>
				<footer class="demand-footer"><p class="demand-location">地址：徐汇-龙华 科技大厦</p></footer>
			</section>
			<section class="demand_cell">
				<header class="demand-title"><span class="d-t-name">房源维护提示</span><em class="text-time">08/04/13:06</em></header>
				<p class="demand-info">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新状态，5天后该房源将自动下架。</p>
				<footer class="demand-footer"><p class="demand-location">地址：徐汇-龙华 科技大厦</p></footer>
			</section>
		</article>
		<div class="demand-foot">
			<div class="demand-home-page"><span class="page-one">首页</span></div>
			<div class="demand-order"><span class="page-one">预约</span></div>
			<div class="demand-add"></div>
			<div class="demand-infomation"><span class="page-one infomation">信息</span></div>
			<div class="demand-me"><span class="page-one me">我</span></div>
		</div>
	</div>
<!--需求-->
	<div style="display: block;width:0;height:0;overflow: hidden" id="demand_three">
		<article class="demand_cells" >
			<section class="demand_cell range">
				<header class="demand-title"><span class="d-t-name">一个新的租房要求</span><i class="d-t-tag">租户</i></header>
				<p class="demand-info">需求为：外滩SOHO,200平米写字楼，简装带家私，租金8元/m/天左右，附近有地铁</p>
				<footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/12:12</em></footer>
			</section>
			<section class="demand_cell">
				<header class="demand-title"><span class="d-t-name">一个新的租房要求</span><i class="d-t-tag blue">经纪人</i></header>
				<p class="demand-info">需求为：外滩SOHO,200平米写字楼，简装带家私，租金8元/m/天左右，附近有地铁</p>
				<footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/12:12</em></footer>
			</section>
			<section class="demand_cell">
				<header class="demand-title"><span class="d-t-name">一个新的租房要求</span><i class="d-t-tag green">招商</i></header>
				<p class="demand-info">需求为：外滩SOHO,200平米写字楼，简装带家私，租金8元/m/天左右，附近有地铁</p>
				<footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/12:12</em></footer>
			</section>
			<section class="demand_cell">
				<header class="demand-title"><span class="d-t-name">一个新的租房要求</span><i class="d-t-tag organ">代理商</i></header>
				<p class="demand-info">需求为：外滩SOHO,200平米写字楼，简装带家私，租金8元/m/天左右，附近有地铁</p>
				<footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/12:12</em></footer>
			</section>
		</article>
		<div class="demand-foot">
			<div class="demand-home-page"><span class="page-one">首页</span></div>
			<div class="demand-order"><span class="page-one">预约</span></div>
			<div class="demand-add"></div>
			<div class="demand-infomation"><span class="page-one">信息</span></div>
			<div class="demand-me"><span class="page-one me">我</span></div>
		</div>
	</div>

</body>
</html>