.info_box {
  padding: 20px 15px;
  background-color: #fff;
}
.info_box .info_img {
  width: 65px;
  height: 65px;
  margin: 0 auto;
}
.info_box .info_name {
  text-align: center;
  line-height: 24px;
  font-size: 1.2rem;
}
.info_box info_desc {
  text-align: center;
  ling-height: 18px;
}
.info_box .info_edit {
  width: 6em;
  padding: 8px 14px;
  border: 1px solid #f00;
  border-redius: 5px;
  color: #ffa66b;
  line-height: 30px;
}
.info-cells {
  margin-top: 20px;
  background-color: #fff;
}
.info-cell {
  display: flex;
  padding: 0 15px;
  line-height: 50px;
}
.info-cell .info-name {
  flex: 3;
  font-size: 0.875em;
}
.info-cell .info-content {
  flex: 4;
  text-indent: 10px;
}
